body {
    background-color: #191919;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.form-step {
    display: none;
}

.form-step.active {
    display: block;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-top: 15px;
    background-color: #333333;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #555555;
}

th {
    background-color: #444444;
}

button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

.add-more {
    background-color: #007bff;
}

.add-more:hover {
    background-color: #0056b3;
}
